{% extends 'portfolio/base.html' %}

{% block content %}
<section id="services" class="services section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Articles</h2>
    <p>Thoughts and insights on Technology and Data Science.</p>
  </div>

  <div class="container">
    <div class="row gy-4">
      {% for article in articles %}
      <div class="col-lg-12">
        <div class="service-item position-relative">
          <div class="d-flex align-items-center mb-3">
              <div class="icon me-3">
                <i class="bi bi-pencil-square"></i>
              </div>
              <div>
                  <h3>{{ article.title }}</h3>
                  <small class="text-muted">{{ article.published_date }}</small>
              </div>
          </div>
          <p>{{ article.summary }}</p>
          <hr>
          <div class="mt-3">
              {{ article.content|linebreaks }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}